/* You can add global styles to this file, and also import other style files */

/* Import Syncfusion Material theme */
@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import 'node_modules/@syncfusion/ej2-navigations/styles/material.css';

